<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS4.dao.BoardDAO">
	<select id="getNoticeList" resultType="com.spring.javaProjectS4.vo.NoticeVO">
		select *,timestampdiff(hour,nDate,now()) as hour_diff,dateDiff(now(),nDate) as date_diff from noticeS where openSw = 'Y' order by nDate desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getNoticeSearchList" resultType="com.spring.javaProjectS4.vo.NoticeVO">
		select *,timestampdiff(hour,nDate,now()) as hour_diff,dateDiff(now(),nDate) as date_diff from noticeS where openSw = 'Y' and ${part} like concat('%',#{searchString},'%') order by nDate desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getFAQList" resultType="com.spring.javaProjectS4.vo.FAQVO">
		select * from FAQS order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getFAQCategoryList" resultType="com.spring.javaProjectS4.vo.FAQVO">
		select * from FAQS where category = #{searchString} order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getFAQStringSearchList" resultType="com.spring.javaProjectS4.vo.FAQVO">
		select * from FAQS where question like concat('%',#{searchString},'%') or answer like concat('%',#{searchString},'%') order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getFAQAllTotRecCnt" resultType="int">
		select count(*) from FAQS;
	</select>
	<select id="getFAQCategoryTotRecCnt" resultType="int">
		select count(*) from FAQS where category = #{searchString};
	</select>
	<select id="getFAQStringTotRecCnt" resultType="int">
		select count(*) from FAQS where question like concat('%',#{searchString},'%') or answer like concat('%',#{searchString},'%');
	</select>
	<select id="getNoticeAllTotRecCnt" resultType="int">
		select count(*) from noticeS
	</select>
	<select id="getNoticeOpenSwYTotRecCnt" resultType="int">
		select count(*) from noticeS where openSw = 'Y';
	</select>
	<select id="getNoticeSearchTotRecCnt" resultType="int">
		select count(*) from noticeS where ${part} like concat('%',#{searchString},'%')
	</select>
	<select id="getNoticeIdx" resultType="com.spring.javaProjectS4.vo.NoticeVO">
		select * from noticeS where idx = #{idx};
	</select>
	<select id="getPreNNextSearch" resultType="com.spring.javaProjectS4.vo.NoticeVO">
		<if test="str == 'preVO' and part == ''">
			select * from noticeS where <![CDATA[idx < #{idx}]]> and openSw = 'Y' order by nDate desc limit 1;
		</if>
		<if test="str != 'preVO' and part == ''">
			select * from noticeS where <![CDATA[idx > #{idx}]]> and openSw = 'Y' order by nDate limit 1;
		</if>
		<if test="str == 'preVO' and part != ''">
			select * from noticeS where <![CDATA[idx < #{idx}]]> and openSw = 'Y' and ${part} like concat('%',#{searchString},'%') order by nDate desc limit 1;
		</if>
		<if test="str != 'preVO' and part != ''">
			select * from noticeS where <![CDATA[idx > #{idx}]]> and openSw = 'Y' and ${part} like concat('%',#{searchString},'%') order by nDate limit 1;
		</if>
		
	</select>
	
	<update id="setReadNumUpdate">
		update noticeS set readNum = readNum + 1 where idx = #{idx};
	</update>
</mapper>