<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS4.dao.CommunityDAO">
	<select id="getMemberMid" resultType="com.spring.javaProjectS4.vo.MemberVO">
		select * from memberS where mid = #{mid};
	</select>
	<select id="getCommunityRecCnt" resultType="int">
		select count(*) from communityS where userDel = 'N';
	</select>
	<select id="getCommunityList" resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select *,timestampdiff(second,cDate,now()) as second_diff,
		timestampdiff(minute,cDate,now()) as minute_diff,
		timestampdiff(hour,cDate,now()) as hour_diff,
		(select profile from memberS mem where comu.mid = mem.mid ) as profile,
		(select nickName from memberS mem where comu.mid = mem.mid ) as nickName,
		(select count(*) from goodS gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.goodMid = #{sMid} ) as midGoodCheck,
		(select count(*) from goods gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.userDel = 'N') as goodCnt,
		(select count(*) from replyS rps where rps.part = 'community' and rps.partIdx = comu.idx and rps.userDel = 'N') as replyCnt,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.bookmarkMid = #{sMid} ) as midBookmarkCheck,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.userDel = 'N') as bookmarkCnt
		from communityS comu where userDel = 'N' order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getCommunityMidList" resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select *,timestampdiff(second,cDate,now()) as second_diff,
		timestampdiff(minute,cDate,now()) as minute_diff,
		timestampdiff(hour,cDate,now()) as hour_diff,
		(select profile from memberS mem where comu.mid = mem.mid ) as profile,
		(select nickName from memberS mem where comu.mid = mem.mid ) as nickName,
		(select count(*) from goodS gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.goodMid = #{sMid} ) as midGoodCheck,
		(select count(*) from goods gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.userDel = 'N') as goodCnt,
		(select count(*) from replyS rps where rps.part = 'community' and rps.partIdx = comu.idx and rps.userDel = 'N') as replyCnt,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.bookmarkMid = #{sMid} ) as midBookmarkCheck,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.userDel = 'N') as bookmarkCnt
		from communityS comu where userDel = 'N' and comu.mid = #{mid} order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getCommunityMidRecCnt" resultType="int">
		select count(*) from communityS where mid = #{searchString};
	</select>
	<select id="getCommunityIdx" resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select * from communityS comu where idx = #{idx};
	</select>
	<select id="getCommunityMidIdx" resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select *,(select profile from memberS mem where comu.mid = mem.mid ) as profile,
		(select nickName from memberS mem where comu.mid = mem.mid ) as nickName,
		(select count(*) from goodS gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.goodMid = #{sMid} ) as midGoodCheck,
		(select count(*) from goods gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.userDel = 'N') as goodCnt,
		(select count(*) from replyS rps where rps.part = 'community' and rps.partIdx = comu.idx and rps.userDel = 'N') as replyCnt,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.bookmarkMid = #{sMid} ) as midBookmarkCheck,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.userDel = 'N') as bookmarkCnt
		 from communityS comu where idx = #{idx};
	</select>
	<select id="getCommunityIdxReply" resultType="com.spring.javaProjectS4.vo.ReplyVO">
		select *,(select profile from memberS mem where rps.mid = mem.mid ) as profile,
		(select nickName from memberS mem where rps.mid = mem.mid ) as nickName,
		(select count(*) from goodS gds where gds.part = 'reply' and gds.partIdx = rps.idx and gds.goodMid = #{sMid} ) as midGoodCheck,
		(select count(*) from goods gds where gds.part = 'reply' and gds.partIdx = rps.idx and gds.userDel = 'N') as goodCnt 
		from replyS rps where part = 'community' and partIdx = #{idx}  and userDel = 'N' order by idx desc;
	</select>
	<select id="getCommunityIdxReRply" resultType="com.spring.javaProjectS4.vo.ReplyVO">
		select *,(select profile from memberS mem where rps.mid = mem.mid ) as profile,
		(select nickName from memberS mem where rps.mid = mem.mid ) as nickName
		from replyS rps where part = 'community' and partIdx = #{idx} and parentsReplyIdx != 0 and userDel = 'N';
	</select>
	<select id="getCommunityProfileMid" resultType="com.spring.javaProjectS4.vo.CommunityProfileVO">
		select *,(select profile from memberS mem where mem.mid = prof.mid ) as profile,
		(select nickName from memberS mem where mem.mid = prof.mid) as nickName,
		(select count(*) from communityS comu where comu.mid = prof.mid) as comuCnt,
		(select count(*) from communityS comu where comu.mid = prof.mid and imgs != '') as mediCnt,
		(select count(*) from goodS g, memberS mem where goodMid = #{mid} and g.goodMid = mem.mid and mem.userDel = 'N') as goodCnt
		 from communityProfileS prof where mid = #{mid};
	</select>
	<select id="getFollowerMid" resultType="com.spring.javaProjectS4.vo.FollowVO">
		select * from followS where followerMid = #{sMid} and followingMid = #{mid};
	</select>
	<select id="getParentsReplyIdx" resultType="int">
		select count(*) from replyS where parentsReplyIdx = #{idx} and parentsReplyIdx > 0;
	</select>
	<select id="getCommunityOneIdxReply" resultType="com.spring.javaProjectS4.vo.ReplyVO">
		select * from ReplyS where idx = #{idx};
	</select>
	<select id="getCommunityBookmarkMidRecCnt" resultType="int">
		select count(*) from communityS comu, bookmarkS b where b.bookmarkMid = #{searchString} and comu.userDel = 'N' and b.part = 'community' and comu.idx = b.partIdx;
	</select>
	<select id="getComuBookmarkMidList"  resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select comu.*,timestampdiff(second,cDate,now()) as second_diff,
		timestampdiff(minute,cDate,now()) as minute_diff,
		timestampdiff(hour,cDate,now()) as hour_diff,
		(select profile from memberS mem where comu.mid = mem.mid ) as profile,
		(select nickName from memberS mem where comu.mid = mem.mid ) as nickName,
		(select count(*) from goodS gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.goodMid = #{mid} ) as midGoodCheck,
		(select count(*) from goods gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.userDel = 'N') as goodCnt,
		(select count(*) from replyS rps where rps.part = 'community' and rps.partIdx = comu.idx and rps.userDel = 'N') as replyCnt,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.bookmarkMid = #{mid} ) as midBookmarkCheck,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.userDel = 'N') as bookmarkCnt
		from communityS comu, bookmarkS b where bookmarkMid = #{mid} and b.part = 'community' and comu.idx = b.partIdx and 
		comu.userDel = 'N' order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getComuRegionList" resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select *,timestampdiff(second,cDate,now()) as second_diff,
		timestampdiff(minute,cDate,now()) as minute_diff,
		timestampdiff(hour,cDate,now()) as hour_diff,
		(select profile from memberS mem where comu.mid = mem.mid ) as profile,
		(select nickName from memberS mem where comu.mid = mem.mid ) as nickName,
		(select count(*) from goodS gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.goodMid = #{sMid} ) as midGoodCheck,
		(select count(*) from goods gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.userDel = 'N') as goodCnt,
		(select count(*) from replyS rps where rps.part = 'community' and rps.partIdx = comu.idx and rps.userDel = 'N') as replyCnt,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.bookmarkMid = #{sMid} ) as midBookmarkCheck,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.userDel = 'N') as bookmarkCnt
		from communityS comu where userDel = 'N' and region = #{region} order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getComuRegionRecCnt" resultType="int">
		select count(*) from communityS where userDel = 'N' and region = #{searchString};
	</select>
	<select id="getFollowingListMid" resultType="com.spring.javaProjectS4.vo.FollowVO">
		select fo.*,(select profile from memberS mem where fo.followingMid = mem.mid ) as profile,
		(select nickName from memberS mem where fo.followingMid = mem.mid ) as nickName,
		(select communityIntroduce from communityProfileS mem where fo.followingMid = mem.mid ) as communityIntroduce
		 from followS fo, memberS mem where followerMid = #{mid} and mem.userDel = 'N' 
		and fo.followerMid = mem.mid;
	</select>
	<select id="getFollowerListMid" resultType="com.spring.javaProjectS4.vo.FollowVO">
		select fo.*,(select profile from memberS mem where fo.followerMid = mem.mid ) as profile,
		(select nickName from memberS mem where fo.followerMid = mem.mid ) as nickName,
		(select communityIntroduce from communityProfileS mem where fo.followerMid = mem.mid ) as communityIntroduce
		 from followS fo, memberS mem where followingMid = #{mid} and mem.userDel = 'N' 
		and fo.followingMid = mem.mid;
	</select>
	<select id="getCommunityMediaMidList" resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select * from communityS comu where userDel = 'N' and comu.mid = #{mid} and imgs != '' order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getCommunityMediaMidRecCnt" resultType="int">
		select count(*) from communityS where mid = #{searchString} and imgs != '';
	</select>
	<select id="getCommunityGoodMidRecCnt" resultType="int">
		select count(*) from goodS g, memberS mem where goodMid = #{searchString} and g.goodMid = mem.mid and mem.userDel = 'N' ;
	</select>
	<select id="getCommunityGoodMidList" resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select comu.*,timestampdiff(second,cDate,now()) as second_diff,
		timestampdiff(minute,cDate,now()) as minute_diff,
		timestampdiff(hour,cDate,now()) as hour_diff,
		(select profile from memberS mem where comu.mid = mem.mid ) as profile,
		(select nickName from memberS mem where comu.mid = mem.mid ) as nickName,
		(select count(*) from goodS gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.goodMid = #{sMid} ) as midGoodCheck,
		(select count(*) from goods gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.userDel = 'N') as goodCnt,
		(select count(*) from replyS rps where rps.part = 'community' and rps.partIdx = comu.idx and rps.userDel = 'N') as replyCnt,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.bookmarkMid = #{sMid} ) as midBookmarkCheck,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.userDel = 'N') as bookmarkCnt
		from communityS comu, goodS g where goodMid = #{mid} and g.part = 'community' and comu.idx = g.partIdx and 
		comu.userDel = 'N' order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	<select id="getComuFollowingList"  resultType="com.spring.javaProjectS4.vo.CommunityVO">
		select comu.*,timestampdiff(second,cDate,now()) as second_diff,
		timestampdiff(minute,cDate,now()) as minute_diff,
		timestampdiff(hour,cDate,now()) as hour_diff,
		(select profile from memberS mem where comu.mid = mem.mid ) as profile,
		(select nickName from memberS mem where comu.mid = mem.mid ) as nickName,
		(select count(*) from goodS gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.goodMid = #{sMid} ) as midGoodCheck,
		(select count(*) from goods gds where gds.part = 'community' and gds.partIdx = comu.idx and gds.userDel = 'N') as goodCnt,
		(select count(*) from replyS rps where rps.part = 'community' and rps.partIdx = comu.idx and rps.userDel = 'N') as replyCnt,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.bookmarkMid = #{sMid} ) as midBookmarkCheck,
		(select count(*) from bookmarkS bms where bms.part = 'community' and bms.partIdx = comu.idx and bms.userDel = 'N') as bookmarkCnt
		from communityS comu, followS fo where comu.userDel = 'N' and fo.followerMid = #{sMid} and comu.mid = fo.followingMid order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<insert id="setCommunityInput">
		insert into communityS values (default,#{mid},#{content},#{imgsStr},default,#{region},default);
	</insert>
	<insert id="setGoodYes">
		insert into goodS values (default,#{part},#{idx},#{mid},default,default)
	</insert>
	<insert id="setBookmarkYes">
		insert into bookmarkS values (default,#{part},#{idx},#{mid},default);
	</insert>
	<insert id="setReplyInput">
		insert into replyS values (default,#{part},#{idx},#{mid},#{content},default,default,default,default);
	</insert>
	<insert id="setCommunityReRplyInput">
		insert into replyS values (default,'community',#{comuIdx},#{mid},#{content},default,#{reIdx},default,default);
	</insert>
	<insert id="communityReportInput">
		insert into communityReportS values (default,#{part},#{idx},#{mid},#{sMid},default,#{reason});
	</insert>
	<insert id="setFollowInput">
		insert into followS values (default,#{followerMid},#{followingMid},default,default);
	</insert>
	
	<delete id="setGoodNo">
		delete from goodS where goodMid = #{mid} and part = #{part} and partIdx = #{idx};
	</delete>
	<delete id="setBookmarkNo">
		delete from bookmarkS where bookmarkMid = #{mid} and part = #{part} and partIdx = #{idx};
	</delete>
	<delete id="setCommunityDel">
		delete from communityS where idx = #{idx};
	</delete>
	<delete id="setCommunityReplyAllDel">
		delete from replyS where part = #{part} and partIdx = #{idx};
	</delete>
	<delete id="setCommunityGoodAllDel">
		delete from goodS where part = #{part} and partIdx = #{idx};
	</delete>
	<delete id="setCommunityBookmarkDel">
		delete from bookmarkS where part = #{part} and partIdx = #{idx};
	</delete>
	<delete id="setCommunityReplyDel">
		delete from replyS where idx = #{idx};
	</delete>
	<delete id="setFollowUsedAlarmDel">
		delete from followUsedAlarmS where alarmMid = #{followerMid} and UpUsedMid = #{followingMid};
	</delete>
	<delete id="setFollowDelete">
		delete from followS where followerMid = #{followerMid} and followingMid = #{followingMid};
	</delete>
	
	<update id="getCommunityReplyDelTextUpdate">
		update rePlyS set content = '해당 댓글은 삭제되었습니다.' where idx = #{idx};
	</update>
	<update id="setComuProHeaderImgUpdate">
		update communityProfileS set headerImg = #{headerImg} where mid = #{mid};
	</update>
	<update id="setComuProSogeUpdate">
		update communityProfileS set communityIntroduce = #{communityIntroduce} where mid = #{mid};
	</update>
	<update id="setFollowAlarmN">
		update followS set alarm = 'N' where followerMid = #{sMid} and followingMid = #{followingMid};
	</update>
	<update id="setFollowAlarmY">
		update followS set alarm = 'Y' where followerMid = #{sMid} and followingMid = #{followingMid};
	</update>
</mapper>