<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS4.dao.HomeDAO">
	<select id="getMainAdOpen" resultType="com.spring.javaProjectS4.vo.MainAdvertisementVO">
		select * from mainAdvertisementS where openSw = 'Y';
	</select>
	<select id="getUserShowAd" resultType="com.spring.javaProjectS4.vo.UserShowAdvertisementVO">
		select * from UserShowAdvertisementS where mid = #{mid};
	</select>
	<select id="getMemberMid" resultType="com.spring.javaProjectS4.vo.MemberVO">
		select * from memberS where mid = #{mid};
	</select>
	<select id="getMapOne" resultType="com.spring.javaProjectS4.vo.MapVO">
		select * from mapS order by idx desc limit 1;
	</select>
	<select id="getLikeAlarm" resultType="com.spring.javaProjectS4.vo.LikeVO">
		select lk.*,usd.title,usd.imgs, 
		(select count(*) from likeS lks where usd.idx = lks.usedIdx and alarm = 'Y' and likeMid in (select mid from memberS where userDel = 'N')) as likeCnt
		from usedS usd, likeS lk where usd.mid = #{alarmMyMid} and usd.idx = lk.usedIdx and lk.alarm = 'Y' group by usd.idx
	</select>
	<select id="getFollowUsedAlarm" resultType="com.spring.javaProjectS4.vo.FollowUsedAlarmVO">
		select fo.*,usd.title,usd.imgs,
		(select nickName from memberS mem where fo.upUsedMid = mem.mid) as nickName
		from followUsedAlarmS fo, usedS usd, memberS mem where alarmMid = #{alarmMyMid} and usd.idx = fo.usedIdx and
		upUsedMid in (select mid from memberS where userDel = 'N') group by fo.idx
	</select>
	<select id="getReportShopList" resultType="com.spring.javaProjectS4.vo.ChatGroupVO">
		select cg.* from memberS mem, chatGroupS cg where 
		cg.mid1 in (select mid from memberS where userDel ='N') and 
		cg.mid2 in (select mid from memberS where userDel ='N') and (cg.mid1 = #{mid} or cg.mid2 = #{mid}) group by cg.idx
	</select>
	<select id="geterror">
		select * from member;
	</select>
	
	<insert id="setAskInput">
		insert into askS values (default,#{mid},#{title},#{content},#{imgStr},#{category},default,default,#{reportShop})
	</insert>
	
	<update id="setAlarmUpdateN">
		update UserShowAdvertisementS set alarm = 'N', alarmNDate = now() where mid = #{mid}
	</update>
</mapper>