<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaProjectS4.dao.MemberDAO">
	<select id="getMemberMidCheck" resultType="com.spring.javaProjectS4.vo.MemberVO">
		select * from memberS where mid = #{mid};
	</select>
	<select id="getMemberNickNameCheck" resultType="com.spring.javaProjectS4.vo.MemberVO">
		select * from memberS where nickName = #{nickName};
	</select>
	<select id="getMemberEmailCheck" resultType="com.spring.javaProjectS4.vo.MemberVO">
		select * from memberS where email = #{email};
	</select>
	
	<insert id="setMemberJoin">
		insert into memberS values(default,#{vo.mid},#{vo.pwd},#{vo.name},#{vo.nickName},#{vo.address},#{vo.email},#{vo.gender},default,default,default,default,default,#{vo.adYN});
	</insert>
</mapper>